---
import { web } from "../../public/portafolio.json";

const rutaImagen = "background-image: url('img/";
---

<section id="web" class="pt-5">
  <div class="container mt-5">
    <section class="row">
      <div class="col">
        <p class="tag-title">Diseño Web</p>
        <p>
          Experiencias, diseños y desarrollos de aplicaciones web o móviles,
          atractivas, dinamicas y modernas.
        </p>
      </div>
    </section>
    <div class="box-web row">
      {
        web.map(
          ({ name, status, description, urlSite, urlRepo, foto, keywords }) => {
            const chequedStatus = status === "true" ? "" : "d-none";
            const chequedUrlSite = urlSite === null ? "d-none" : "d-block";
            const chequedUrlRepo = urlRepo === null ? "d-none" : "d-block";
            return (
              <div class="col">
                <figure class={`card-web ${chequedStatus}`}>
                  <img
                    src={`/portafolio-gabo/img/${foto}`}
                    alt={`imagen de ${name}`}
                  />
                  <figcaption>
                    <h3>{name}</h3>

                    <p>{keywords.join(" | ")}</p>
                    <div class="d-flex justify-content-between">
                      <a target="_blank" href={urlSite} class={chequedUrlSite}>
                        Ir al sitio web
                      </a>
                      <a target="_blank" href={urlRepo} class={chequedUrlRepo}>
                        Ir al repositorio
                      </a>
                    </div>
                  </figcaption>
                </figure>
              </div>
            );
          }
        )
      }
    </div>
  </div>
</section>
<style>
  .box-web {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
  }
  .card-web {
    min-width: 100%;
    min-height: 100%;

    display: grid;
    grid-template-rows: minmax(100%, 1fr);
    grid-template-areas: "stack";

    overflow: hidden;
  }

  .card-web > img,
  .card-web > figcaption {
    grid-area: stack;
  }
  .card-web > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-web > figcaption {
    grid-area: stack;
    background-color: #242424e0;
    transform: translateY(calc(100% - 4rem));
    transition: transform 250ms;
    padding: 0.5rem;
  }
  .card-web > figcaption > h3 {
    padding: 0.5rem;
    height: 4rem;
    color: #fff;
  }
  .card-web > figcaption > p {
    color: #e37239;
    font-size: 0.9rem;
  }
  .card-web > figcaption a {
    color: #e37239;
    font-size: 0.9rem;
    text-decoration: none;
    border: 1px solid #e37239;
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
  }
  .card-web > figcaption a:hover,
  .card-web > figcaption a:focus {
    color: #fff;
    background-color: #e37239;
    border: 1px solid #e37239;
  }
  .card-web:hover figcaption {
    transform: none;
  }
</style>
